# --- Main statik config file -----
#
# key = value pairs. Don't quote values unless you want the quotes included.
#
# Default values are the first entry for each keyword. Subsequent entries are
# other examples.
#
# Settings marked 'required' should all be defined for sane results.
#
# Directory and file paths may be absolute or relative - if the latter, they're
# made absolute using base_dir.
#

# Blog author's name (required, used in atom feeds)
#author_name =
#author_name = Jane Author

# Year your blog started (required, used as part of atom feed unique id, and must not change)
#blog_id_year =
#blog_id_year = 2011

# Domain to use as part of your atom feed unique id, and must not change (required)
#blog_id_domain =
#blog_id_domain = openfusion.com.au

# Blog title (required)
#blog_title =
#blog_title = My Bløg

# Blog feed title (defaults to blog_title)
#feed_title =

# Blog description (for feeds etc.)
#blog_description =
#blog_description = Mutterings from the <dungeon>

# Primary blog language
#blog_language = en

# Blog text encoding
#blog_encoding = utf-8

# Blog timezone (in any format DateTime::set_time_zone understands, for converting epoch datetimes for output)
#blog_timezone = UTC

# Base URL for the blog, generally safe to leave just a path, which lets links work
# with relative URLs in staging contexts
#url = /
#url = /blog
#url = http://example.com/blog

# Full URL for the blog, only used where relative URLs are not allowed (e.g. in feeds)
# (required). Should include the url path you used for 'url', if that was relative;
# should match 'url' if you used a full url there.
#full_url =
#full_url = http://example.com/blog

# Base directory for this blog (used to qualify relative directories/files)
#base_dir =

# Directory where blog post files are found
#post_dir = posts

# Directory where static output files should go
#output_dir = static

# Directory where state files should go
#state_dir = state

# How many posts to show on index pages (all flavours, unless overridden per-flavour).
#posts_per_page = 10

# Maximum number of pages to generate for indexes (all flavours, unless overridden).
# 0 = no limit. Default: 1.
#max_pages = 1

# File extension used on post files. Default: txt
#file_extension = txt 

# Should we show entries dated in the future?
#show_future_entries = no

# List of plugins statik should load
#plugin_list = config/plugins.conf

# List of directories where plugins are located (separated by ':' or ';')
#plugin_path = plugins

# Flavours/themes of (multi-post) index pages to generate (comma-separated)
# Flavours are filetype suffixes, and themes are subdirectories of base_dir/themes
# Format is flavour:theme, if theme is omitted it defaults to 'default'
#index_flavours = html,atom

# Flavours/themes of individual post pages to generate (comma-separated)
# Flavours are filetype suffixes, and themes are subdirectories of base_dir/themes
# Format is flavour:theme, if theme is omitted it defaults to 'default'
# (unset to not generate individual post pages at all)
#post_flavours = html
#post_flavours =



#[Statik::Plugin::Theme]

# Where do your themes live? (if relative, 'base_dir' is prefixed)
#theme_dir = themes

# Where do your public resources live (css, js, images etc.)?
# (if relative, 'base_dir' is prefixed)
#public_dir = public

# What's the URL of your public directory (if relative, 'url' is prefixed)
#public_url = public



#[Statik::Plugin::Entries]

# What name should my index file be called?
#entries_index             = entries.index

# Whether to follow symlinks in posts directory
#follow_symlinks           = 0

# Optional flag file (or directory) updated on new/updated/deleted posts
#posts_flag                =

# Post header to check for timestamp, overriding mtime if set
#post_timestamp_header     = Date

# Post timestamp strptime(1) format (required if post_timestamp_header is set)
#post_timestamp_format     = %Y-%m-%d %T

